.formcontato{
    background-color: azure;
}

.formcontato__contacto{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.formcontato__form{
    flex-direction: column;
    display: flex;
}

.formcontato__input{
    margin: 5px;
    width: 200px;
}

.formcontato__textarea{
    margin: 5px;
    width: 200px; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.formcontato__botao {   
    width: 230px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 5px 5px;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 30px;
}

.formcontato__title{
    margin: 5px 5px;
}

.formcontato__subtext{
    margin: 5px 5px;
    text-align: center;
}

.formcontato__2{

}

.formcontato__input{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.formcontato__esquerda{
    align-items: center;
    display: flex;
    justify-content: center;
}

.formcontato__img{
    width: 80%;
    height: 80%;
    padding: 15px;
}

.footer{
    width: 940px;
    margin: 0 auto;
}